@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*--------------------ШРИФТЫ-------------*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueRegular.eot");
  src: local("☺"), url("../../fonts/HelveticaNeueRegular.woff") format("woff"), url("../../fonts/HelveticaNeueRegular.ttf") format("truetype"), url("../../fonts/HelveticaNeueRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueMedium.eot");
  src: local("☺"), url("../../fonts/HelveticaNeueMedium.woff") format("woff"), url("../../fonts/HelveticaNeueMedium.ttf") format("truetype"), url("../../fonts/HelveticaNeueMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueBold.eot");
  src: local("☺"), url("../../fonts/HelveticaNeueBold.woff") format("woff"), url("../../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../../fonts/HelveticaNeueBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*--------------ОБЩИЕ КЛАССЫ---------------*/
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
}

._imgbg {
  position: relative;
}
._imgbg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._container {
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  ._container {
    padding: 0 30px;
  }
}
@media (max-width: 479px) {
  ._container {
    padding: 0 20px;
  }
}
@media (max-width: 321px) {
  ._container {
    padding: 0 10px;
  }
}

._box {
  padding: 28px;
  border: 1px solid #dfdfdf;
}

.red-back {
  display: inline-block;
  color: white;
  padding: 10px;
  background-color: #ea5a4b;
}

a.red-back {
  color: white;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._ovhid {
  overflow: hidden;
}

.title {
  margin-top: -21px;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 40px;
  background-color: #1c1c1c;
  font-family: "Bitter", sans-serif;
}
.title__main {
  font-size: 39px;
  line-height: 1.2;
  font-weight: 700;
  color: white;
}
.title__subtitle {
  margin-top: 13px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #d1d0d0;
}

/*--------------HEADER--------------*/
.header__container {
  position: relative;
  padding-top: 11px;
  padding-bottom: 13px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__under-image {
  width: 100%;
  height: 151px;
}

.society-header {
  background-color: #1c1c1c;
  height: 47px;
}
.society-header__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.society-header__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}
.society-header__container {
  height: 100%;
}

.icon-main {
  font-family: "Bitter", serif;
  font-size: 24px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
  z-index: 3;
}
.icon-main__i {
  display: inline-block;
  color: white;
  padding: 10px 13px 7px 13px;
  background-color: #ea5a4b;
}
.icon-main__text {
  display: inline-block;
}
.icon-main__text span {
  color: #ea5a4b;
}

.menu-header {
  max-width: 279px;
  width: 100%;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .menu-header {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    max-width: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 5;
  }
  .menu-header.active {
    top: 0;
  }
}
.menu-header__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .menu-header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .menu-header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.menu-header__item a {
  color: #1c1c1c;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.menu-header__item_active a {
  color: #ea5a4b;
}
.menu-header__item:hover a {
  color: #ff9e93;
}

.burger {
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 30px;
  width: 30px;
  height: 20px;
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
}
@media (max-width: 479px) {
  .burger {
    right: 20px;
  }
}
@media (max-width: 321px) {
  .burger {
    right: 10px;
  }
}
.burger span {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ea5a4b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ea5a4b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ea5a4b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger.active span {
  width: 0;
  margin-left: 15px;
}
.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}

/*-------------FOOTER------------------*/
.footer {
  background-color: #1c1c1c;
  width: 100%;
  border-top: 8px solid #ea5a4b;
  color: #adadad;
  font-weight: 700;
  margin-top: -28px;
  position: relative;
  z-index: -1;
}
.footer__body {
  padding: 69px 0 40px 0;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
}
@media (max-width: 767px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0 12px;
}
@media (max-width: 767px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.footer__title {
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
}
.footer__first-column p {
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
}
.footer__first-column p::after {
  content: "";
  height: 1px;
  background-color: #3b3b3b;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.footer__first-column p:last-child::after {
  content: none;
}
.footer__second-column p {
  margin-top: 15px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer__icons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.footer__icons > * {
  display: inline-block;
  margin-bottom: 4px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.content__underhead {
  width: 100%;
  height: 150px;
}
.content__underhead img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.content__box {
  background-color: white;
}
.slider {
  width: 100%;
  height: 450px;
  position: relative;
}
.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__item.active {
  opacity: 1;
}
.slider__box {
  position: relative;
}
.slider__text-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  max-width: 450px;
  margin-top: -300px;
}
.slider__text {
  color: white;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 11px 10px 11px 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Bitter", sans-serif;
  display: inline-block;
  margin-bottom: 3px;
}
.slider__arrows {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__arrow {
  padding: 9px 10px 14px 10px;
  font-size: 48px;
  color: white;
  background-color: #ea5a4b;
  margin-right: 5px;
}

.slider__mini {
  width: 100%;
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 28px;
  background-color: #1c1c1c;
  margin: -28px auto 0 auto;
}
.slider__mini_item {
  padding: 2px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75px;
          flex: 0 1 75px;
  height: 75px;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider__mini_item:hover {
  opacity: 0.7;
}
.slider__mini_item.active {
  opacity: 1;
}
.slider__mini_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-index__box {
  padding-bottom: 8px;
  background-color: white;
}
.content-index__body {
  padding-top: 28px;
}
.content-index__title {
  font-family: "Bitter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #252525;
  font-weight: 700;
  text-align: center;
  margin-top: 55px;
}
.row-ci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row-ci__item {
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}
@media (max-width: 767px) {
  .row-ci__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .row-ci__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 479px) {
  .row-ci__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.row-ci__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #252525;
}
.row-ci__icon {
  background-color: #252525;
  padding: 7px;
  margin-right: 16px;
}
.row-ci__title-text {
  font-family: "Bitter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}
.row-ci__text {
  margin-top: 24px;
}

/*----------------PORTFOLIO--------------------*/
.portfolio {
  font-size: 14px;
  line-height: 16px;
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 1;
}
.portfolio__categories {
  margin-bottom: 33px;
  margin-top: 55px;
  margin-left: 10px;
  margin: 55px auto 33px auto;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio__name {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #252525;
}
.portfolio__name:active {
  color: red;
}
.portfolio__name.red-back {
  margin: -10px;
}
@media (max-width: 479px) {
  .portfolio__name {
    font-size: 10px;
  }
}
.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -9px;
}
.portfolio__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 206px;
          flex: 0 1 206px;
  height: 120px;
  position: relative;
  padding: 0 9px;
  margin-bottom: 20px;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.portfolio__item span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: 0;
  left: 9px;
  width: 188px;
  padding: 10px;
  opacity: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.portfolio__item:hover span {
  opacity: 1;
}
.portfolio__item.no-active {
  display: none;
}

/*------------------------blog------------------*/
.blog__title {
  position: relative;
  font-family: "Bitter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #464646;
  margin-bottom: 14px;
  padding-bottom: 8px;
}
@media (max-width: 767px) {
  .blog__title {
    text-align: center;
  }
}
.blog__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #adadad;
}
.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .blog__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.blog__posts {
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 767px) {
  .blog__posts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .blog__post {
    margin: 0 auto;
  }
}
.blog__ads {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 210px;
}
.blog__aditem {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  background-color: #f5f5f5;
  border: 1px solid #c6c6c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog__aditem a {
  width: 100%;
  height: 100%;
}
.blog__aditem p {
  text-align: center;
}
.blog__aditem img {
  width: 100%;
  height: 100%;
}

.post-blog {
  position: relative;
  padding-bottom: 10px;
  margin-right: 100px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .post-blog {
    margin: 0 auto;
  }
}
.post-blog__title {
  font-size: 16px;
  font-family: "Bitter", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #1c1c1c;
  margin-bottom: 14px;
}
.post-blog__date {
  color: #ea5a4b;
  margin-bottom: 6px;
}
.post-blog__text p:not(:last-child) {
  margin-bottom: 10px;
}
.post-blog::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #adadad;
}

/*----------------contact---------------*/
.contact__map {
  height: 400px;
  width: 100%;
}
.contact__map iframe {
  width: 100%;
  height: 100%;
}
.contact__body {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .contact__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.contact__left-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 50px;
}
@media (max-width: 1000px) {
  .contact__left-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
  }
}
.contact__left-text p:not(:last-child) {
  margin-bottom: 18px;
}
.contact__left-text span {
  color: #ea5a4b;
}
@media (max-width: 767px) {
  .contact__left-text {
    margin-bottom: 20px;
  }
}
.contact__form-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 594px;
          flex: 1 0 594px;
}
@media (max-width: 767px) {
  .contact__form-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.contact__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__form input, .contact__form textarea {
  padding: 13px 16px 11px 16px;
  background-color: #ffffff;
  border: 1px solid #252525;
  margin-bottom: 15px;
}
.contact__form button {
  background-color: #ea5a4b;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 10px 11px 9px 11px;
}
.contact__form button:hover {
  background-color: #ff9e93;
}
@media (max-width: 767px) {
  .contact__form input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.contact__first-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 290px;
          flex: 0 1 290px;
  margin-right: 14px;
}
@media (max-width: 767px) {
  .contact__first-name {
    margin-right: 0;
  }
}
.contact__second-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 290px;
          flex: 0 1 290px;
}
.contact__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 290px;
          flex: 0 1 290px;
  margin-right: 14px;
}
@media (max-width: 767px) {
  .contact__email {
    margin-right: 0;
  }
}
.contact__url {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 290px;
          flex: 0 1 290px;
}
.contact__message {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 205px;
}