@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*--------------------ШРИФТЫ-------------*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueRegular.eot");
  src: local("☺"), url("../../fonts/HelveticaNeueRegular.woff") format("woff"), url("../../fonts/HelveticaNeueRegular.ttf") format("truetype"), url("../../fonts/HelveticaNeueRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueMedium.eot");
  src: local("☺"), url("../../fonts/HelveticaNeueMedium.woff") format("woff"), url("../../fonts/HelveticaNeueMedium.ttf") format("truetype"), url("../../fonts/HelveticaNeueMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueBold.eot");
  src: local("☺"), url("../../fonts/HelveticaNeueBold.woff") format("woff"), url("../../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../../fonts/HelveticaNeueBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*--------------ОБЩИЕ КЛАССЫ---------------*/
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
}

._container {
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
}

.red-back {
  display: inline-block;
  color: white;
  padding: 10px;
  background-color: #ea5a4b;
}

/*--------------HEADER--------------*/
.society-header {
  height: 47px;
  background-color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.society-header__container {
  width: 100%;
}
.society-header__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.society-header__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
}
.icon-main {
  font-family: "Bitter", serif;
  font-size: 24px;
  line-height: 16px;
  font-weight: 700;
}
.icon-main__i {
  display: inline-block;
  color: white;
  padding: 7px 13px;
  background-color: #ea5a4b;
}
.icon-main__text {
  display: inline-block;
}
.icon-main__text span {
  color: #ea5a4b;
}

.burger {
  display: none;
}