@import 'nullstyle.scss';

/*--------------------ШРИФТЫ-------------*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../../fonts/HelveticaNeueRegular.eot');
	src: local('☺'), url('../../fonts/HelveticaNeueRegular.woff') format('woff'), url('../../fonts/HelveticaNeueRegular.ttf') format('truetype'), url('../../fonts/HelveticaNeueRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../../fonts/HelveticaNeueMedium.eot');
	src: local('☺'), url('../../fonts/HelveticaNeueMedium.woff') format('woff'), url('../../fonts/HelveticaNeueMedium.ttf') format('truetype'), url('../../fonts/HelveticaNeueMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../../fonts/HelveticaNeueBold.eot');
	src: local('☺'), url('../../fonts/HelveticaNeueBold.woff') format('woff'), url('../../fonts/HelveticaNeueBold.ttf') format('truetype'), url('../../fonts/HelveticaNeueBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*--------------ОБЩИЕ КЛАССЫ---------------*/

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #5c5c5c;
}

._imgbg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

._container {
	max-width: 1020px;
	padding: 0 40px;
	@media (max-width: 767px) {
		padding: 0 30px;
	}
	@media (max-width: 479px) {
		padding: 0 20px;
	}
	@media (max-width: 321px) {
		padding: 0 10px;
	}
	margin: 0 auto;
}

._box {
	padding: 28px;
	border: 1px solid #dfdfdf;
}

.red-back {
	display: inline-block;
	color: white;
	padding: 10px;
	background-color: #ea5a4b;
}
a.red-back{
	color: white;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
._ovhid {
	overflow: hidden;
}
.title {
	margin-top: -21px;
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 40px;
	background-color: #1c1c1c;
	font-family: 'Bitter', sans-serif;
	&__main {
		font-size: 39px;
		line-height: 1.2;
		font-weight: 700;
		color: white;
	}
	&__subtitle {
		margin-top: 13px;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		color: #d1d0d0;
	}
}

/*--------------HEADER--------------*/

.header {
	&__container {
		position: relative;
		padding-top: 11px;
		padding-bottom: 13px;
	}
	&__society {}
	&__body {}
	&__main-icon {}
	&__menu {}
	&__main {
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__under-image {
		width: 100%;
		height: 151px;
	}
	
}
.society-header {
	background-color: #1c1c1c;
	height: 47px;
	&__body {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	&__row {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 120px;
	}
	&__item {}
	&__container {
		height: 100%;
	}
}
.icon-main {
	font-family: 'Bitter', serif;
	font-size: 24px;
	line-height: 16px;
	font-weight: 700;
	position: relative;
	z-index: 3;
	&__i {
		display: inline-block;
		color: white;
		padding: 10px 13px 7px 13px;
		background-color: #ea5a4b;
	}
	&__text {
		display: inline-block;
		span {
			color: #ea5a4b;
		}
	}
}
.menu-header {
	max-width: 279px;
	width: 100%;
	font-family: 'Helvetica Neue';
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	@media (max-width: 767px) {
		transition: all .3s ease 0s;
		max-width: none;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		z-index: 5;
		&.active {
			top: 0;
		}
	}
	&__body {
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 60px;
		}
	}
	&__item {
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		a {
			color: #1c1c1c;
			transition: color .3s ease 0s;
		}
		&_active {
			a {
				color: #ea5a4b;
			}
		}
		&:hover{
			a {
				color: #ff9e93;
			}
		}
	}

}
.burger {
	position: absolute;
	z-index: 5;
	top: 15px;
	right: 30px;
	width: 30px;
	height: 20px;
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
	@media (max-width: 479px) {
		right: 20px;
	}
	@media (max-width: 321px) {
		right: 10px;
	}
	span {
		position: absolute;
		top: 8px;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #ea5a4b;
		transition: all .3s ease 0s;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #ea5a4b;
		transition: all .3s ease 0s;
	}
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #ea5a4b;
		transition: all .3s ease 0s;
	}
	&.active{
		span {
			width: 0;
			margin-left: 15px;
			
		}
		&::after{
			transform: rotate(-45deg);
			top: 8px;
		}
		&::before{
			transform: rotate(45deg);
			bottom: 8px;
		}
	}
}
/*-------------FOOTER------------------*/
.footer {
	background-color: #1c1c1c;
	width: 100%;
	border-top: 8px solid #ea5a4b;
	color: #adadad;
	font-weight: 700;
	margin-top: -28px;
	position: relative;
	z-index: -1;
	&__container {}
	&__body {
		padding: 69px 0 40px 0;
	}
	&__row {
		display: flex;
		margin: 0 -12px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		flex: 0 1 33.3333%;
		padding: 0 12px;
		@media (max-width: 767px) {
			flex: 0 1 50%;
		}
	}
	&__title {
		color: white;
		line-height: 1.2;
		text-transform: uppercase;
	}
	&__first-column {
		p {
			margin-top: 15px;
			margin-bottom: 30px;
			position: relative;
			&::after {
				content: '';
				height: 1px;
				background-color: #3b3b3b;
				width: 100%;
				position: absolute;
				bottom: -15px;
				left: 0;
			}
			&:last-child {
				&::after {
					content: none;
				}
			}
		}
	}
	&__second-column {
		p {
			margin-top: 15px;
			margin-bottom: 30px;
		}
	}
	&__icons {
		@media (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
		}
		>* {
			display: inline-block;
			margin-bottom: 4px;
		}
	}
}

.content {
	flex: 1 1 auto;
	&__underhead{
		width: 100%;
		height: 150px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}
	&__box {
		background-color: white;
	}
	&__blog {}
}
.slider {
	width: 100%;
	height: 450px;
	position: relative;
	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 450px;
		opacity: 0;
		transition: all .6s ease 0s;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.active{
			opacity: 1;
		}
	}
	&__box {
		position: relative;
	}
	&__text-box {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		max-width: 450px;
		margin-top: -300px;
	}
	&__text {
		color: white;
		background-color: rgba($color: #000000, $alpha: 0.74);
		padding: 11px 10px 11px 20px;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		font-family: 'Bitter', sans-serif;
		display: inline-block;
		margin-bottom: 3px;
	}
	&__arrows {
		margin-top: 10px;
		display: flex;
	}
	&__arrow {
		padding: 9px 10px 14px 10px;
		font-size: 48px;
		color: white;
		background-color: #ea5a4b;
		margin-right: 5px;
	}
}
.slider__mini {
	width: 100%;
	position: relative;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 28px;
	background-color: #1c1c1c;
	margin: -28px auto 0 auto;
	&_item {
		padding: 2px;
		flex: 0 1 75px;
		height: 75px;
		opacity: 0.4;
		transition: all .3s ease 0s;
		&:hover {
			opacity: 0.7;
		}
		&.active {
			opacity: 1;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.content-index {
	&__container {}
	&__box {
		padding-bottom: 8px;
		background-color: white;
	}
	&__body {
		padding-top: 28px;
	}
	&__row {}
	&__title {
		font-family: 'Bitter', sans-serif;
		font-size: 18px;
		line-height: 1.2;
		color: #252525;
		font-weight: 700;
		text-align: center;
		margin-top: 55px;
	}
	&__portfolio {}
}
.row-ci {
	display: flex;
	margin: 0 -20px;
	flex-wrap: wrap;
	&__item {
		padding: 0 20px;
		justify-content: space-between;
		flex: 0 1 33.3333%;
		@media (max-width: 767px) {
			flex: 0 1 50%;
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
		@media (max-width: 479px) {
			flex: 0 1 100%;
			text-align: center;
		}
	}
	&__title {
		display: flex;
		align-items: center;
		color: #252525;
	}
	&__icon {
		background-color: #252525;
		padding: 7px;
		margin-right: 16px;
	}
	&__title-text {
		font-family: 'Bitter', sans-serif;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
	}
	&__text {
		margin-top: 24px;
	}
}

/*----------------PORTFOLIO--------------------*/

.portfolio {
	font-size: 14px;
	line-height: 16px;
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	position: relative;
	z-index: 1;
	
	&__categories {
		margin-bottom: 33px;
		margin-top: 55px;
		margin-left: 10px;
		margin: 55px auto 33px auto;
		max-width: 350px;
		display: flex;
		justify-content: space-between;
	}
	&__name {
		transition: all .3s ease 0s;
		color: #252525;
		&:active {
			color: red;
		}
		&.red-back{
			margin: -10px;
		}
		@media (max-width: 479px) {
			font-size: 10px;
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		flex: 0 1 206px;
		height: 120px;
		position: relative;
		margin-right: 18px;
		&:nth-child(4n) {
			margin-right: 0;
		}
		@media (max-width: 1015px) {
			&:nth-child(4n) {
				margin-right: 18px;
			}
			&:nth-child(3n) {
				margin-right: 18px;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
		margin-bottom: 20px;
		span {
			transition: all .3s ease 0s;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px;
			opacity: 0;
			color: white;
			background-color: rgba($color: #000000, $alpha: 0.5);
		}
		&:hover{
			span {
				opacity: 1;
			}
		}
		&.no-active{
			display: none;
		}
	}
}



/*------------------------blog------------------*/
.blog {
	&__body {}
	&__title {
		position: relative;
		font-family: 'Bitter', sans-serif;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		color: #464646;
		margin-bottom: 14px;
		padding-bottom: 8px;
		@media (max-width: 767px) {
			text-align: center;
		}
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #adadad;
		}
	}
	&__row {
		display: flex;
		justify-content: center;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__posts {
		margin-right: 20px;
		flex: 1 1 auto;
		@media (max-width: 767px) {
			flex: 0 1 100%;
			text-align: center;
			margin: 0;
			margin-bottom: 20px;
		}
	}
	&__post {
		@media (max-width: 767px) {
			margin: 0 auto;
		}
	}
	&__ads {
		flex: 0 0 210px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-height: 210px;
	}
	&__aditem {
		margin-bottom: 10px;
		width: 100px;
		height: 100px;
		background-color: #f5f5f5;
		border: 1px solid #c6c6c6;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			width: 100%;
			height: 100%;
		}
		p {
			text-align: center;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.post-blog {
	position: relative;
	padding-bottom: 10px;
	margin-right: 100px;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
	margin-bottom: 20px;
	&__title {
		font-size: 16px;
		font-family: 'Bitter', sans-serif;
		line-height: 1.2;
		font-weight: 400;
		color: #1c1c1c;
		margin-bottom: 14px;
	}
	&__date {
		color: #ea5a4b;
		margin-bottom: 6px;
	}
	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&::after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #adadad;
	}
}

/*----------------contact---------------*/

.contact {
	&__map {
		height: 400px;
		width: 100%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	&__body {
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1000px) {
			flex-wrap: wrap;
		}
	}
	&__left-text {
		flex: 1 1 auto;
		margin-right: 50px;
		@media (max-width: 1000px) {
			flex: 0 1 500px;
		}
		p {
			&:not(:last-child){
				margin-bottom: 18px;
			}
		}
		span {
			color: #ea5a4b;
		}
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	&__form-body {
		flex: 1 0 594px;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}
	&__form {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		input, textarea {
			padding: 13px 16px 11px 16px;
			background-color: #ffffff;
			border: 1px solid #252525;
			margin-bottom: 15px;
		}
		button {
			background-color: #ea5a4b;
			color: white;
			transition: all .3s ease 0s;
			padding: 10px 11px 9px 11px;
			&:hover{
				background-color: #ff9e93;
			}
		}
		input {
			@media (max-width: 767px) {
				flex: 0 1 100%;
			}
		}
		
	}
	&__first-name {
		flex: 0 1 290px;
		margin-right: 14px;
		@media (max-width: 767px) {
			margin-right: 0;
		}
	}
	&__second-name {
		flex: 0 1 290px;
	}
	&__email {
		flex: 0 1 290px;
		margin-right: 14px;
		@media (max-width: 767px) {
			margin-right: 0;
		}
	}
	&__url {
		flex: 0 1 290px;
	}
	&__message {
		flex: 0 1 100%;
		height: 205px;
	}
}
